#gamePanel{
    text-align: center;
    background-color:whitesmoke;
}

#gameFrame{
    border: 5px solid;
    background-color: black;
}

#livesLabel{
    margin-right: 300px;
    font-family: 'Slabo 27px', serif;
    font-size: 35px;
}

#scoreLabel{
    font-family: 'Slabo 27px', serif;
    font-size: 35px;
}

#timer{
    font-family: "Permanent Marker", cursive;
    font-size: 50px;
}

#RestartButton{
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 50px;
}

